* {
  font-family: 'Open Sans', sans-serif;
}

/* header */
.header {
  min-height: 670px;
  background: url(../img/bg.png) no-repeat center center;
  display: block;
  background-size: cover;
  text-align: center;
}

.fixed-top.scrolled {
  background-color: rgba(52, 43, 87, .8) !important;
  transition: background-color .2s ease-in-out;
  border-bottom: 1px solid rgba(0, 224, 208, .2);
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0)
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 224, 208, 1);
}

.content-center {
  width: 100%;
}

.slider {
  padding-top: 200px;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item h2 {
  color: #ffffff;
}

.line {
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  margin-top: 21px;
  margin-bottom: 30px;
}

.carousel-item p {
  text-indent: 50px;
  color: #ffffff;
  max-width: 771px;
}

.carousel-item .btn {
  margin-bottom: 127px;
  margin-top: 50px;
  color: rgba(0, 224, 208, 1);
  border: 1px solid rgba(0, 224, 208, 1);
}

.carousel-item .btn:hover {
  margin-bottom: 127px;
  margin-top: 50px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 224, 208, 1);
}

/* content */
/* our story */
.our-story {
  padding-top: 70px;
  padding-bottom: 70px;
}

.our-story__img {
  text-align: end;
}

.our-story__block-flex {
  width: 100%;
}

.our-story__block-flex .btn {
  color: rgba(0, 224, 208, 1);
  border: 1px solid rgba(0, 224, 208, 1);
  font-weight: 500;
}

.our-story__block-flex .btn:hover {
  margin-top: 50px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 224, 208, 1);
}

/* our story video */
.our-story-video {
  min-height: 550px; 
  background: url(../img/PUT_YOUR_IMAGE_HERE.png) no-repeat center center;
  display: block;
  background-size: cover;
  text-align: center;
}

.our-story-video__block-flex {
  text-align: center;
  width: 160px;
  cursor: pointer;
}

/* expertise */
.expertise {
  padding-top: 72px;
  padding-bottom: 72px;
}

.line-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.line-right {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.exp-line {
  width: 50px;
  height: 2px;
  background-color: #413d4b;
  opacity: 0.3;
}

.card .card-title {
  text-align: center;
}

.card p {
  text-align: center;
  max-width: 254px;
}

/* team */
.team {
  background: url(../img/bg-team.png) no-repeat center center;
  display: block;
  padding-top: 70px;
  background-size: cover;
  text-align: center;
}

.team h1 {
  color: #ffffff;
}

.team p {
  color: #ffffff;
}

.team .exp-line {
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.2;
}

/* .card-deck .card {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, .3);
}

.card-deck .card h5 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
} */

figure img {
  width: 100%;
}

figure figcaption {
  border: 1px solid rgba(255, 255, 255, .5);
  text-align: center;
}

figcaption h5 {
  color: #ffffff;
}

.team-but {
  margin-top: 70px;
}

.team-but .btn {
  margin-bottom: 127px;
  color: rgba(0, 224, 208, 1);
  border: 1px solid rgba(0, 224, 208, 1);
}

.team-but .btn:hover {
  margin-bottom: 127px;
  margin-top: 50px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 224, 208, 1);
}

/* общее */
h1 {
  /* Style for "OUR STORY" */
  color: #413d4b;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

h3 {
  /* Style for "WATCH OUR" */
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.7px;
}

/* media-query */

@media screen and (max-width:992px) {
  .navbar-nav {
    background-color: #3a2f5f;
    border: 1px solid rgba(0, 224, 208, 1);
    border-radius: 15px;
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }

  h2 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.32px;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
  }

  .carousel-item p {
    max-width: 571px;
  }
}

@media screen and (max-width:768px) {
  h2 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.32px;
  }

  p {
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.7px;
  }

  .carousel-item p {
    max-width: 410px;
  }
}

@media screen and (max-width:576px) {
  h2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
  }

  p {
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.7px;
  }

  .carousel-item p {
    max-width: 202px;
    text-indent: 10px;
  }

  .our-story__img {
    text-align: center;
    margin-bottom: 40px;
  }

  .our-story__block-flex {
    text-align: center;
  }

  .line-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .line-right {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  /* .card-deck {
    flex-direction: row;
    flex-wrap: wrap;
  } */
}