* {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-image: url(../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 670px;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 224, 208, 1)
}

.content-center {
  width: 100%;
}

.slider {
  padding-top: 140px;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item h2 {
  color: #ffffff;
}

.line {
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  margin-top: 21px;
  margin-bottom: 30px;
}

.carousel-item p {
  text-indent: 50px;
  color: #ffffff;
  max-width: 771px;
}

.carousel-item .btn {
  margin-bottom: 127px;
  margin-top: 50px;
  color: rgba(0, 224, 208, 1);
  border: 1px solid rgba(0, 224, 208, 1);
}

.carousel-item .btn:hover {
  margin-bottom: 127px;
  margin-top: 50px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 224, 208, 1);
}

/* общее */
h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.7px;
}

/* media-query */

@media screen and (max-width:992px) {
  .navbar-nav{
    background-color: #3a2f5f;
  }

  .nav-item{
    width: 100%;
    text-align: center;
  }
  
  h2 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.32px;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
  }

  .carousel-item p {
    max-width: 571px;
  }
}

@media screen and (max-width:768px) {
  h2 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.32px;
  }

  p {
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.7px;
  }

  .carousel-item p {
    max-width: 410px;
  }
}

@media screen and (max-width:576px) {
  h2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
  }

  p {
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.7px;
  }

  .carousel-item p {
    max-width: 202px;
    text-indent: 10px;
  }

  .carousel-item .btn {
    margin-bottom: 87px;
    margin-top: 20px;
  }
}